/* fonts imported */

@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

/* initial configure style settings */

:root {
  --background: rgba(32, 126, 279, .75);
  0 214 170
}

*, *::before, *::after {
  box-sizing: border-box;
}

li{
  font-family: 'Stick No Bills', sans-serif;
}

body {
  margin: 10;
  background: #222;
  font-weight: 400;

}

.contents {
  min-height: 1200vh;
  background-color: #333;
  color:gold;
  font-family: 'Lobster Two', cursive;
  margin: 30px 10px 30px 10px;
  text-align:justify-all;
   overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding: 3vw;
  z-index: 0;
}

/* header n navigation styles start here */

header {
  background: linear-gradient( 270deg,#c33764 ,#1d2671); 
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
  margin:auto;

}


nav a:hover {
  color: yellow;
}


nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: linear-gradient(275deg,#c33764 ,#1d2671 ) ;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: left;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}



/* tagline styles begin here*/

body {
  min-height: 100vh;
  color: white;
}

.glitch {
  font-size: 8rem;
  font-weight: 700;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

/* keyframe animation of tagline */
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.glitch{
  text-decoration: overline;
}


.target{
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  z-index: 20;
  opacity: 0.7;
}

html{
  scroll-behavior: smooth;
}



















